/* Variable */
$primary-color: #579c87;
$primary-color-text: #fdcb46;
$secondary-color-text: #000;

/* Mixin shadow */
@mixin shadow {
  -webkit-box-shadow: -1px 0px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 10px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 10px -2px rgba(0,0,0,0.75);
}

/* Mixin position-underline */
@mixin position-underline($n1, $n2) {
  position: absolute;
  top: $n1;
  left: $n2;
  width: 25%;
  height: 4%;
}

/* Keyframes Wiggle */
@-webkit-keyframes wiggle  {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Dot - button previous */

@-webkit-keyframes blink {
  0% { opacity: .2; }
  50% { opacity: 1; }
  100% { opacity: .2;}
}

@keyframes blink {
  0% { opacity: .2; }
  50% { opacity: 1; }
  100% { opacity: .2;}
}

@-webkit-keyframes anim {
  0% {width: 0px;}
  100% {width: 60%}
}

@keyframes anim {
  0% {width: 0px;}
  100% {width: 60%;}
}

/* Other */
body {

  img {
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    @include shadow();
  }

  a {
      text-decoration: none;
      color: $primary-color-text
  };

  ul {
    padding: 0;
  }

  color: $primary-color-text;

  .header__navbar,
  .footer__navbar {
    height: 5rem;
    background-color : $primary-color;
    display: flex;
    align-items: center;
  }

  .header__navbar {
    justify-content: center;

    a {
      text-decoration: none;
      color: $primary-color-text;
    }
  }

  /* Main section */
  .main__section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10rem;

    .list_saut-lign li {
      margin-bottom: 20px;
    }

    /* Nav */
    .nav {

      /* Nav card */
      .nav--card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        /* Nav card item */
        .nav--card__item {
          height: 100%;
          width: 47.5%;
          margin: 3rem 0 0 0;
          overflow:hidden;
          display:block;
          @include shadow();
          
          /* Nav card item link */
          .nav--card__item--link {

            /* Nav--card__item--link - image */
            img {
              opacity: 1;
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              -webkit-transition: all .8s ease-in-out;
              -o-transition: all .8s ease-in-out;
              transition: all .8s ease-in-out;
              &:hover {
                opacity: .6;
                -webkit-transform: scale(1.19);
                -ms-transform: scale(1.19);
                transform: scale(1.19);
              }
            }           
          }
        }
      }
    }
    
    /* Container boutton */
    .container-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      /* Bouton */ 
      .btn--green {
        border: 0;
        line-height: 2.5;
        padding: 0 2rem;
        margin-top: 5rem;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10px;
        background-color: $primary-color;

        /* Dot 01 - button previous */
        span {
          -webkit-animation-name: blink;
          animation-name: blink;
          -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }

        /* Dot 02 - button previous */
        span:nth-child(2) {
          -webkit-animation-delay: .2s;
          animation-delay: .2s;
        }

        /* Dot 03 - button previous */
        span:nth-child(3) {
          -webkit-animation-delay: .4s;
          animation-delay: .4s;
        }
      }
    }
    

    /* Section container menu */
    .section__container-menu {
      position: relative;
      margin: 9rem 0 0 0;
    
      /* Menu restaurant 01 */
      .conteneur-underline__prelude {
        @include position-underline(21%, 37.4%);
      }
    
      .conteneur-underline__point-dorgue {
        @include position-underline(47%, 37.4%);
      }
    
      .conteneur-underline__mouvement-final {
        @include position-underline(68%, 37.1%);
      }
    
      /* Menu restaurant 02 */
      .conteneur-underline__pour-se-mettre-en-appetit {
        @include position-underline(24%, 37.7%);
      }
    
      .conteneur-underline__plaisir-des-papilles {
        @include position-underline(46%, 37.4%);
      }
    
      .conteneur-underline__gourmandises-sucrees {
        @include position-underline(68%, 37.7%);
      }
    
      /* Menu restaurant 03 */
      .conteneur-underline__pour-bien-commencer {
        @include position-underline(24%, 37.8%);
      }
    
      .conteneur-underline__pour-bien-continuer {
        @include position-underline(44.5%, 37.8%);
      }
    
      .conteneur-underline__pour-bien-terminer {
        @include position-underline(64.4%, 38%);
      }
    
      /* Menu restaurant 04 */
      .conteneur-underline__esquisse {
        @include position-underline(24%, 37.6%);
      }
    
      .conteneur-underline__oeuvre-de-maitre {
        @include position-underline(45%, 37.6%);
      }
    
      .conteneur-underline__au-sommet-de-lart {
        @include position-underline(64.5%, 37.6%);
      }
    
      /* Display underline */
      .conteneur-underline:hover .underline {
        border-bottom:5px ridge grey;
        bottom: 0;
        left: 20%;
        color: red;
        position: absolute;
        -webkit-animation: anim 4s 500ms normal ease-out forwards;
        animation: anim 4s 500ms normal ease-out forwards;
      }
    }

    .container-mentions {
      color: $secondary-color-text;
    }
  }

  /* Footer */
  .footer {
    width: 100%;
    bottom: 0;
    position: fixed;

    .footer__navbar {
      justify-content: space-between;
      padding: 0 50px;

      /* Footer infos */
      .footer__infos:hover {
        -webkit-animation: wiggle 75ms infinite;
        animation: wiggle 75ms infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
      }

      /* Footer infos link */
      .footer__infos--link {
        color: $primary-color-text;
        text-decoration: none;
      }
    }
  }
}